
      <div class="container">
          <div class="head">
            <div class="jumbotron">
            <img src="/images/RunReviewLogo.jpg" class="img-responsive" alt="Run Review">
          </div>
        </div>
      </div>

      <hr>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <div class="well well-lg">
          <h3>Looking for a <br>race to run?</h2>
          <button type="button" class="btn btn-run">Browse Races</button>
        </div>
      </div>

      <div class="col-md-2">
      </div>


    <div class="row">
      <div class="col-md-4">
        <div class="well well-lg">
          <h3>Don't see the race <br>you're looking for?</h2>
          <button type="button" class="btn btn-run">Add A New Race</button>
        </div>
      </div>
    </div>

    <div class="col-md-1">
    </div>
  </div>
