<h1>Races</h1>

  <div>
    <h2>
      {{ race.name }}
    </h2>
    <p>
      {{ race.location }}
    </p>
    <p>
      {{ race.distance }}
    </p>
  </div>

  <div ng-repeat="review in race.reviews">
    - by {{ review.runner }}
      <br>
      <p>{{ review.body }}</p>
  </div>

<form ng-submit="addReview()"
      style="margin-top:30px;">
  <h3>Add a new review</h3>

  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Review"
           ng-model="body">
  </div>
  <button type="submit" class="btn btn-primary">Submit Review</button>
</form>
