<h1>Races</h1>

  <div>
    <h3>
      {{ race }}
    </h3>
  </div>

  <!-- <div ng-repeat="review in race.reviews">
    - by {{ review.runner }}
    <span style="font-size:20px; margin-left:10px;">
      {{ review.body }}
    </span>
  </div> -->
<!--
<form ng-submit="addReview()"
      style="margin-top:30px;">
  <h3>Add a new review</h3>

  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Review"
           ng-model="body">
  </div>
  <button type="submit" class="btn btn-primary">Submit Review</button>
</form> -->
