.container {
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}

.thumb {
  width: 200px;
  height: 200px;
}

.text-wrap {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.margin {
    margin: 0 auto;
}

.center-text {
  text-align: center;
}

.well-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.ul-center {
list-style-position: inside;
}
